@import url('https://fonts.googleapis.com/css?family=Lato" rel="stylesheet');

* {
    margin: 0;
    padding: 0;
}

html {
    /*background: url("http://joxi.net/8An0JkaU5p4emO.jpg");*/
    /*background-attachment: fixed;*/

}

body {
    /*background: radial-gradient(#000 15%, transparent 16%) 0 0,*/
    /*radial-gradient(#000 15%, transparent 16%) 8px 8px,*/
    /*radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 0 1px,*/
    /*radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 8px 9px;*/
    /*background-color: #333;*/
    /*background-size: 16px 16px;*/
    background-image: url("../img/fon.png");
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #ccc;
}

.logo {
    color: #ffffff;
    font-size: 60px;
    display: inline-block;
    font-weight: bold;
    padding: 15px 0 15px 0;
    margin: 60px 0 0 40px;
    border-bottom: 2px solid #d9e8f0;
    text-transform: uppercase;
    background: linear-gradient(45deg, #6b6d68 29%, #d9e8f0 66%, #fffeee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 55px;
}

.logo:hover {
    color: #ffffff;
}

.wrap-head-navbar {
    /*background: #2f0304;*/
    background: rgba(43, 4, 1, 0.91);
    padding: 5px 20px 5px 5px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 1px solid #1e0503;
}

.head-navbar {
    /*background: #2f0304;*/
    background: rgba(43, 4, 1, 0.91);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 1px dashed #fff;
}

.head-navbar > li > a {
    color: #fff;
}

.head-navbar > li:first-child {
    margin-left: 20px;
}

.head-navbar > li > a:hover {
    background: rgba(56, 4, 1, 0.93);
    transition: 0.3s;
}

.head-navbar > li > a:focus {
    background: rgba(56, 4, 1, 0.93);
    transition: 0.3s;
}

.head-info {
    color: #fff;
    height: 65px;
    text-align: right;
    vertical-align: middle;
}
.head-info span {
    margin: 0 5px;
}
.head-info .cart {
    font-size: 21px;
}
.head-info .phone {
    font-size: 18px;
    font-weight: bold;
    line-height: 65px;
}

section {
    margin-top: 30px;
}

.wrap-carousel {
    height: 300px;
    max-height: 300px;
    min-height: 300px;
}

.main-head {
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

.wrap-hot-product {
    background: #fff;
    border-radius: 4px;

    -webkit-box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.5);
}

.hot-product-img {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.hot-product-img img {
    max-height: 100%;
    max-width: 100%;
}

.hot-product-name {
    color: #222;
}

.price {
    font-weight: bold;
    color: #4f9e4f;
    font-size: 17px;
}

.price-grn {
    color: #4f9e4f;
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
    font-size: 12px;
    color: darkred;
}

.btn-row {
    margin: 15px -15px;
    position: relative;
}

.btn-bot-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.btn-cor {
    color: #fff;
    background-color: #380401;
    border-color: #1e0503;
}

.btn-cor:hover {
    color: #fff;
    background-color: #2b0401;
    border-color: #1e0503;
}

.btn-success {
    color: #fff;
    background-color: #4f9e4f;
    border-color: #3f8a3f;
}

.btn-success:hover {
    color: #fff;
    background-color: #4bb44b;
    border-color: #3d983d;
}

/*.head-description {*/
/*background: #fff;*/
/*border: 1px solid #ddd;*/
/*border-radius: 5px;*/
/*}*/
/*.inner-head-description {*/
/*border: 1px dashed #000;*/
/*background: #fff;*/
/*border-radius: 4px;*/
/*margin: 10px;*/
/*padding: 15px;*/
/*}*/
/*.inner-head-description p {*/
/*color: #000;*/
/*}*/

.head-description {
    background: rgba(43, 4, 1, 0.91);
    border-radius: 5px;
    border: 1px solid #1e0503;
}

.inner-head-description {
    border: 1px dashed #fff;
    background: rgba(43, 4, 1, 0.91);
    border-radius: 4px;
    margin: 7px;
    padding: 15px;
}

.inner-head-description p {
    color: #fff;
    text-align: justify;
    font-size: 14px;
}

footer {
    margin-top: 30px;
}

.footer {
    border-top: 1px solid #666;
}

.footer .inner-footer {
    font-size: 14px;
    margin: 2px 2px 0;
    padding: 15px;
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    /*background: #202020;*/
    color: #fff;
}

.footer .inner-footer a {
    color: #fff;
}

.container-products {
    background: #ffffff;
    border-radius: 3px;
    display: block;
}
.filter {
    border-right: 1px solid #ccc;
    margin: 25px -1px 25px 0;
}
.filter header {
    margin: 2px 0 7px;
    color: #191919;
}
.filter .filter-input {
    height: 28px;
    border: 1px solid #888;
    border-radius: 3px;
}
.toPrice {
    line-height: 28px;
}

.wr-checkbox {
    margin-bottom: 5px;
}
.checkbox {
    display: none;
}
.checkbox-block {
    display: inline-block;
    border: 1px solid #888;
    border-radius: 3px;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    text-align: center;
    transition: 0.5s ease;
}
.checkbox + label .checkbox-text {
    vertical-align: text-top;
}
.checkbox + label {
    font-weight: normal;
    cursor: pointer;
    width: 100%;
}
.checkbox + label:hover .checkbox-text {
    color: #333;
    transition: 0.5s;
}
.checkbox + label:hover .checkbox-block {
    border-color: #444;
    transition: 0.5s ease;
}
.checkbox + label > .checkbox-block > .glyphicon {
    display: none;
}
.checkbox:checked + label > .checkbox-block > .glyphicon {
    display: inline;
    color: #4f9e4f;
}
.products {
    border-left: 1px solid #ccc;
    margin: 25px 0;
    padding-bottom: 50px;
    padding-right: 0;
}

.wr-product {
    min-height: 320px;
    position: relative;
    border: 1px solid #ddd;
    margin-right: -1px;
    margin-bottom: -1px;
}
.inner-product {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 2;
}
.wr-product:hover .inner-product {
    height: 380px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 12px 1px rgba(0,0,0,0.6);
    left: -1px;
    top: -1px;
    right: -1px;
}
.image-product {
    width: 100%;
    margin: 15px 0;
    border: none;
    background: none;
    text-decoration: none;
    cursor: pointer;

    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-product img {
    max-height: 100%;
    max-width: 100%;
}
.name-product h4 {
    text-align: center;
}











