@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
}

html {

}

body {
    background-image: url("../img/fon.png");
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
}
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
}
a {
    outline: none;
}
ul li {
    list-style: none;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #ccc;
}

.logo {
    color: #ffffff;
    font-size: 60px;
    display: inline-block;
    font-weight: bold;
    padding: 15px 0 15px 0;
    margin: 60px 0 0 40px;
    border-bottom: 2px solid #d9e8f0;
    text-transform: uppercase;
    background: linear-gradient(45deg, #6b6d68 29%, #d9e8f0 66%, #fffeee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 55px;
}

.logo:hover {
    color: #ffffff;
}

.wrap-head-navbar {
    /*background: #2f0304;*/
    background: rgba(43, 4, 1, 0.91);
    padding: 5px 20px 5px 5px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 1px solid #1e0503;
}

.head-navbar {
    background: rgba(43, 4, 1, 0.91);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 1px dashed #fff;
}

.head-navbar > li > a {
    color: #fff;
}

.head-navbar > li:first-child {
    margin-left: 20px;
}

.head-navbar > li > a:hover {
    background: rgba(56, 4, 1, 0.93);
    transition: 0.3s;
}

.head-navbar > li > a:focus {
    background: rgba(56, 4, 1, 0.93);
    transition: 0.3s;
}

.head-info {
    color: #fff;
    height: 65px;
    text-align: right;
    vertical-align: middle;
}
.head-info span {
    margin: 0 5px;
}
.head-info .cart {
    font-size: 21px;
}
.head-info .phone {
    font-size: 18px;
    font-weight: bold;
    line-height: 65px;
}

section {
    margin-top: 30px;
}

.wrap-carousel {
    height: 300px;
    max-height: 300px;
    min-height: 300px;
}

.main-head {
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

.wrap-hot-product {
    background: #fff;
    border-radius: 4px;

    -webkit-box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.5);
}

.hot-product-img {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.hot-product-img img {
    max-height: 100%;
    max-width: 100%;
}

.hot-product-name {
    color: #222;
}

.price {
    font-weight: bold;
    color: #4f9e4f;
    font-size: 17px;
}

.price-grn {
    color: #4f9e4f;
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
    font-size: 12px;
    color: darkred;
}

.btn-row {
    margin: 15px -15px;
    position: relative;
}

.btn-bot-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.btn-cor {
    color: #fff;
    background-color: #380401;
    border-color: #1e0503;
}

.btn-cor:hover {
    color: #fff;
    background-color: #2b0401;
    border-color: #1e0503;
}

.btn-success {
    color: #fff;
    background-color: #4f9e4f;
    border-color: #3f8a3f;
}

.btn-success:hover {
    color: #fff;
    background-color: #4bb44b;
    border-color: #3d983d;
}

/*.head-description {*/
/*background: #fff;*/
/*border: 1px solid #ddd;*/
/*border-radius: 5px;*/
/*}*/
/*.inner-head-description {*/
/*border: 1px dashed #000;*/
/*background: #fff;*/
/*border-radius: 4px;*/
/*margin: 10px;*/
/*padding: 15px;*/
/*}*/
/*.inner-head-description p {*/
/*color: #000;*/
/*}*/

.head-description {
    background: rgba(43, 4, 1, 0.91);
    border-radius: 5px;
    border: 1px solid #1e0503;
}

.inner-head-description {
    border: 1px dashed #fff;
    background: rgba(43, 4, 1, 0.91);
    border-radius: 4px;
    margin: 7px;
    padding: 15px;
}

.inner-head-description p {
    color: #fff;
    text-align: justify;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

footer {
    margin-top: 30px;
}

.footer {
    border-top: 1px solid #666;
}

.footer .inner-footer {
    font-size: 14px;
    margin: 2px 2px 0;
    padding: 15px;
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    /*background: #202020;*/
    color: #fff;
}

.footer .inner-footer a {
    color: #fff;
}

.wr-content {
    background: #ffffff;
    border-radius: 3px;
    display: block;
}
.filter {
    border-right: 1px solid #ccc;
    margin: 25px -1px 25px 0;
}
.filter header {
    margin: 2px 0 7px;
    color: #191919;
}
.filter .filter-input {
    height: 28px;
    border: 1px solid #888;
    border-radius: 3px;
}
.toPrice {
    line-height: 28px;
}

.wr-checkbox {
    margin-bottom: 5px;
}
.checkbox {
    display: none;
}
.checkbox-block {
    display: inline-block;
    border: 1px solid #888;
    border-radius: 3px;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    text-align: center;
    transition: 0.5s ease;
}
.checkbox + label .checkbox-text {
    vertical-align: text-top;
}
.checkbox + label {
    font-weight: normal;
    cursor: pointer;
    width: 100%;
}
.checkbox + label:hover .checkbox-text {
    color: #333;
    transition: 0.5s;
}
.checkbox + label:hover .checkbox-block {
    border-color: #444;
    transition: 0.5s ease;
}
.checkbox + label > .checkbox-block > .glyphicon {
    display: none;
}
.checkbox:checked + label > .checkbox-block > .glyphicon {
    display: inline;
    color: #4f9e4f;
}
.items {
    border-left: 1px solid #ccc;
    margin: 25px 0;
    padding-right: 0;
}

.wr-item {
    min-height: 320px;
    position: relative;
    border: 1px solid #ddd;
    margin-right: -1px;
    margin-bottom: -1px;
}
.inner-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 2;
}
.wr-item:hover .inner-item {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 12px 1px rgba(0,0,0,0.6);
    left: -1px;
    top: -1px;
    right: -1px;
    padding-bottom: 5px;
    z-index: 3;
}
.more-description {
    display: none;
    margin-top: 7px;
    padding-top: 5px;
    border-top: 1px solid #ddd;
}
.wr-item:hover .more-description {
    display: block;
}
.image-item {
    width: 100%;
    margin: 15px 0;
    border: none;
    background: none;
    text-decoration: none;
    cursor: pointer;

    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-item img {
    max-height: 100%;
    max-width: 100%;
}
.name-item {
    height: 50px;
}
.name-item h4 {
    text-align: center;
}
.section-buy {
    height: 45px;
    position: relative;
}
.section-buy table {
    position: absolute;
    bottom: 0;
}
.wr-img-head {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.row-small-pictures {
    margin: 20px 0;
}
.wr-img-picture {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
.wr-img-head {
    outline: none;
}
.wr-img-head img {
    max-width: 100%;
    max-height: 100%;
}
.wr-img-picture img {
    max-width: 100%;
    max-height: 100%;
}
.head-shot-description {
    margin: 30px 0;
}
.bonus li {
    margin: 7px 0;
    vertical-align: middle;
}
.bonus li i {
    font-size: 21px;
    vertical-align: middle;
    color: #397239;
}
.bonus li span {
    vertical-align: middle;
    margin-left: 5px;
}
.product-price {
    font-size: 30px;
    margin: 20px 0;
    color: #387038;
    font-family: Arial, Helvetica, sans-serif;
}
.dotted-between {
    border-bottom: 1px dotted #444;
    height: 100%;
}
.feature {
    margin: 20px 0;
    font-family: 'Open Sans', Arial, sans-serif;
}
.feature li {
    padding: 0 5px;
}
.feature li .row {
    padding: 7px 0;
    border-bottom: 1px solid #dedede;
}
.feature li:nth-child(2n) .row {
    background: #f3f3f3;
}
.description {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #252525;
    line-height: 22px;
    margin-top: 10px;
}
.description p {
    margin: 15px 0;
    padding: 0 7px;
}
.image-cart {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
.items-cart {
    margin: 30px 0;
}
.image-cart img {
    max-width: 100%;
    max-height: 100%;
}
.items-cart li {
    display: flex;
    align-items: center;
    justify-content: center;
}

